:root {
    --main-bg-color:grey;
}

.Header {
    background-color: brown;
    text-align: center;
    padding: 20px;
}

.MainWindow{
    background-color: cadetblue;
    text-align: center;
    padding: 10px;
}

.StampContainer{
    background-color: grey;

}


.TestBorder{
    border-color: black;
    border-style: dotted;
    border-width: 2px;
}